:host {
  display: block;

  ::ng-deep {
    .p-dataview-content {
      background: none !important;
      border: 1px solid rgba(141, 111, 111, 0.2) !important;
    }
    .p-dataview {
      border: 1px solid rgba(141, 111, 111, 0.2) !important;
    }
  }
}
:host::ng-deep .p-datatable-thead > tr > th {
  background: none !important;
  border: 1px solid rgba(141, 111, 111, 0.2);
  color: white !important;
}

:host::ng-deep .p-paginator {
  background: none !important;
}

:host::ng-deep .p-select.p-disabled {
  background-color: rgba(141, 111, 111, 0.2) !important;
  border: 1px solid rgba(141, 111, 111, 0.2) !important;
}

:host::ng-deep .p-select {
  background-color: rgba(165, 155, 155, 0.2) !important;
  border: 1px solid rgba(141, 111, 111, 0.2) !important;
  color: white !important;
}

:host::ng-deep .p-select-label {
  color: white !important;
}

:host::ng-deep .p-paginator-page.p-paginator-page-selected {
  background-color: rgba(214, 212, 212, 0.2) !important;
  color: white !important;
}

:host::ng-deep .p-datatable-tbody > tr {
  background: none !important;
  color: white !important;
}

:host::ng-deep .p-datatable-tbody > tr > td {
  border: 1px solid rgba(82, 80, 80, 0.2) !important;
}
